@media (max-width: 574.99px) {
    #hero {
        margin-top: 85px;
    }
    .brand-logo {
        max-width: 150px;
    }
    .nav-item {
        margin-bottom: 15px;
    }
    #navbarNav {
        padding-top: 20px;
    }
    .nav-link:hover,
    .nav-link.active {
        border-bottom: 0;
    }
    .hero-content {
        padding-bottom: 30px;
    }
    .cp-60 {
        padding: 30px 0;
    }
    .cp-50 {
        padding: 30px 0;
    }
    .sense-content {
        padding: 15px;
    }
    .sense-content h4 {
        font-size: 20px;
    }
    .dashboard-content {
        padding: 20px 15px 15px;
    }
    .dashboard-content h2 {
        font-size: 24px;
    }
    .value-content img {
        max-width: 160px;
        margin: 0 auto;
    }
    .value-content .row {
        margin-bottom: 20px;
    }
    .value-content .col-md-3 {
        text-align: center;
    }
    .value-content h3 {
        font-size: 18px;
        text-align: center;
    }
    .footer-logo {
        max-width: 180px !important;
    }
    .inner-hero-row {
        min-height: 180px;
    }
    .solution-content {
        padding-left: 0;
    }
    .icon-item {
        padding-top: 120px;
    }
    .icon-item:nth-child(1)::before {
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
    }
    .icon-item:nth-child(2)::before {
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
    }
    .icon-item:nth-child(3)::before {
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
    }
    .icon-item:nth-child(4)::before {
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
    }
    .icon-item:nth-child(5)::before {
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
    }
    .icon-item:nth-child(6)::before {
        left: 0;
        right: 0;
        top: 20px;
        margin: 0 auto;
    }
    .ss-single {
        padding: 15px;
    }
    .story-content {
        padding: 15px;
    }
    .founder-single {
        padding: 10px;
        margin-bottom: 20px;
    }
    .contact-form {
        padding: 15px;
    }
    #innerHero {
        margin-top: 85px;
    }
}
@media (max-width: 800.99px) {
    .brand-logo {
        max-width: 200px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    .btn-cs {
        font-size: 16px;
    }
    .hero-row {
        min-height: 600px;
    }
    .hero-img img {
        height: 300px;
    }
    .solution-title {
        text-align: center;
        margin-bottom: 0;
        position: static;
    }
    .solution-img {
        max-width: 500px;
        margin: 0 auto;
    }
    .solution-desk {
        max-width: 500px;
        margin: 0 auto 30px;
    }
    .founder-single h3 {
        font-size: 22px;
    }
}